html{
  height: -webkit-fill-available;
}

body{
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html,
body {
  padding: 0;
  margin: 0;
}

::selection{
  color: #fff;
  background-color: #a97dff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgba(255, 255, 255, 0.873);
    background: #2b2c2c;
  }
}

.certified:first-child{
  background-color: #ff9ff3 !important;
}

.certified > div > h5{
  color: #ff9ff3 !important;
}

.study:first-child{
  background-color: #1dd1a1 !important;
}

.study > div > h5{
  color: #1dd1a1 !important;
}

.project:first-child{
  background-color: #feca57 !important;
}

.project > div > h5{
  color: #feca57 !important;
}

.visible-m{
  visibility: hidden;
}

@media(max-width: 814px){
  .visible-m{
    visibility: visible;
  }

  .visible-d{
    visibility: hidden;
    display: none !important;
  }
}