html,
body {
  padding: 0;
  margin: 0;
}

::selection{
  color: #fff;
  background-color: #9603e5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgba(255, 255, 255, 0.873);
    background: black;
  }
}
