$blue-300: #C1DBE9; //blue-light2
$blue-400: #309CC7; //blue-light1
$blue-500: #304362; //blue2
$blue-700: #073E6A;
$blue-800: #212F51; //blue

$blue-svg: #002f67;

$orange: #E29A00;

$gray-100: #2b2c2c;
$gray-200: #2d2e2e;
$gray-300: #292a2a;
$gray-400: #2b2c2c;

$purpe-100: #9603e5;
$purpe-100-70: hsla(279, 97%, 45%, 0.554);


$color-60: '';
$color-30: $purpe-100;
$color-10: '';

$font-1: 'PT Sans Caption', sans-serif;
$font-2: 'Lato', sans-serif;

$screen-xxs : 320px; // Extra extra small screen / edge phone
$screen-xs : 710px; // Extra small screen / phone
$screen-sm : 814px; // Small screen / tablet portrait
$screen-md : 1024px; // Medium screen and tablet landscape / desktop
$screen-ml : 1280px; // Medium screen and tablet landscape / desktop
$screen-sl : 1365px; // Large screen / wide desktop
$screen-lg : 1366px; // Large screen / wide desktop
$screen-xl : 1700px; // Extra Large screen / wide desktop